.container {
  .header {
    width: 100vw;
    background: #537fe7;
    color: #181823;
    padding: 10px;
  }
  .sites {
    padding: 10px;
    color: #181823;
    .list {
      display: flex;
      flex-wrap: wrap;
      .site {
        width: 100%;
        max-width: 400px;
        margin: 10px;
        padding: 10px;
        color: #181823;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        transition: 0.3s;
        &:hover {
          transform: scale(1.05);
        }

        span {
          font-size: 15px;
          font-weight: 600;
        }

        .inprogress {
          color: #e75353;
        }
        .completed {
          color: #537fe7;
        }
      }
    }
  }
}
