.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  .header_left {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 680px) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }

    h2 {
      font-size: 30px;
      font-weight: 600;
      margin-right: 15px;

      @media only screen and (max-width: 680px) {
        margin-bottom: 10px;
      }
    }

    div {
      display: flex;
      width: 100%;
      padding: 0 15px;
      justify-content: space-between;
      span {
        font-size: 15px;
        font-weight: 600;
        color: #ccc;
        margin-left: 10px;
        cursor: pointer;
      }
      .active {
        color: #000;
      }
    }
  }

  .header_right {
    button {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #ff6346;
        color: #fff;
      }
      @media only screen and (max-width: 680px) {
        display: none;
      }
    }
  }
}
