.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f7f9;

  .formContainer {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    .header {
      width: 100%;
      height: 30px;
      background: #00b4b1;
      border-radius: 10px 10px 0 0;
    }

    .form {
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .inputField {
        padding: 8px;
        outline: none;
        border: none;
        margin: 5px 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
        border-radius: 10px;
      }

      button {
        margin-top: 15px;
        background-color: #ff6346;
        color: #fff;
        border: 1px solid #ccc;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          filter:brightness(120%)
        }
      }
    }
  }
}
